/* default */
:root {
    --main-color: #e29e1a;
    --normal-text-color: #384347;
}

body {
    background-image: url("../images/page_background.png");
    background-position: 100% 0;
    padding: 32px 0 64px;
}

card,
component,
icon,
lang-wrapper {
    display: block;
}

.main-text-color {
    color: var(--main-color);
}

p {
    letter-spacing: .6px;
    color: var(--normal-text-color);
    font-weight: 500;
    font-size: 14px;
}

svg {
    fill: var(--main-color);
}

hr {
    border-style: dashed;
    border-top-width: 1px;
    border-color: #999;
}

.bu_headline-wrapper {
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-bottom: 3px solid #333;
    margin-bottom: 16px;
}

.bu_grid-c-wrapper {
    display: grid;
    grid-template-columns: 60% 34.5%;
    grid-template-rows: 1fr;
    grid-column-gap: 60px;
}

.card,
.card * {
    background-color: transparent;
    border: none;
    padding: 0;
 }

 a.custom-link:hover {
    color: #0056b3 !important;
 }

/* -/default */

.bu_personal-pic-c-wrapper {
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.card-header {
    font-size: 21px;
}

.list-inline {
    list-style: disc;
    padding-left: 19px;
}

.list-inline > li {
    margin-bottom: 12px;
}

.bu_lang-name {
    font-size: 15px;
    font-weight: bold;
}

.bu_lang-level {
    font-size: 13px;
    color: #65696d;
}

.bu_lang-score ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.bu_lang-score ul li {
    list-style: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--main-color);
    margin: 0 2px;
}

li.bu_lang-score-max,
li.bu_lang-score-max ~ * {
    background: var(--normal-text-color) !important;
}

.bu_upwork-icon-wrapper {
    width: 24px;
    height: 24px;
}

.bu_upwork-icon-wrapper svg {
    transform: scale(0.4) translate(-50px, -44px);
}

.bu_upwork-icon-wrapper svg path {
    fill: var(--main-color);
}

.bu_skill-wrapper > * {
    margin: 0 11px 12px 0;
    padding: 0 8px;
    border-bottom: 1px solid;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 35vw;
    width: 35vw;
}

/* media */
@media screen and (max-width: 1199px) {
    .w-25 {
        width: -ms-fit-content !important;
        width: -moz-fit-content !important;
        width: -webkit-fill-available !important;
        width: -webkit-fit-content !important;
        width: fit-content !important;
        margin-right: 16px;
    }
}

@media screen and (max-width: 991px) {
    .container {
        max-width: 95%;
    }
}

@media screen and (max-width: 820px) {
    .w-75.bu_contact-info-c-wrapper {
        width: 100% !important;
    }
}

@media screen and (max-width: 767px) {
    body {
        padding: 0 !important;
    }

    .bu_grid-c-wrapper {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 480px) {
    .bu_contact-info-c-wrapper .w-50 {
        width: 100% !important;
    }

    .bu_contact-info-c-wrapper .d-flex {
        flex-direction: column;
    }

    .bu_contact-info-c-wrapper .bu_contact-item p {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 575px) {
    .chart-container {
        height: 78vw;
        width: 78vw;
    }
}
/* -/ media */

/* CUSTOME STYLE FOR PRINT */
@media print {
    body {
        padding-top: 0;
    }

    header {
        margin: 0 !important;
    }

    .mt-5 {
        margin-top: 0px !important;
    }

    .my-5 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .mb-5 {
        margin-bottom: 18px !important;
    }

    .bu_date-meta-wrapper,
    .bu_card-date-wrapper {
        width: 180px !important;
    }

    .bu_main-skills-c-wrapper {
        display: none !important;
    }

    .bu_my-work-c-wrapper {
        padding-top: 64px !important;
    }

    a {
        text-decoration: none !important;
    }

    .bu_card-flex-wrapper img {
        max-height: 115px;
    }
}